Library/ShaderCache/
Library/PlayerDataCache/
Library/LastBuild.buildreport
Library/EditorInstance.json
Temp/
Library/CrashedAssetImports.txt
Millenium.userprefs
Library/UnityAssemblies/UnityEngine.HoloLens.dll
Library/UnityAssemblies/UnityEngine.Analytics.dll
Library/UnityAssemblies/UnityEditor.dll
Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.dll
Library/UnityAssemblies/UnityEditor.Analytics.dll
Library/UnityAssemblies/UnityEditor.Advertisements.dll
Library/UnityAssemblies/SyntaxTree.VisualStudio.Unity.Bridge.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/UnityAssemblies/nunit.framework.dll
Library/UnityAssemblies/UnityEngine.dll
Library/UnityAssemblies/UnityEditor.WebGL.Extensions.dll
Library/UnityAssemblies/UnityEditor.VR.dll
Library/UnityAssemblies/UnityEditor.HoloLens.dll
Library/UnityAssemblies/UnityEditor.Graphs.dll
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/UnityAssemblies/UnityEditor.Timeline.dll
Library/UnityAssemblies/UnityEditor.TestRunner.dll
Library/UnityAssemblies/UnityEditor.Purchasing.dll
Library/UnityAssemblies/UnityEditor.LinuxStandalone.Extensions.dll
Library/UnityAssemblies/UnityEditor.Android.Extensions.dll
Library/UnityAssemblies/UnityEngine.UI.dll
Library/UnityAssemblies/UnityEngine.Timeline.dll
Library/UnityAssemblies/UnityEngine.TestRunner.dll
Library/UnityAssemblies/UnityEngine.Networking.dll
Library/UnityAssemblies/UnityEditor.UI.dll
Library/UnityAssemblies/UnityEditor.TreeEditor.dll
Library/UnityAssemblies/UnityEditor.Networking.dll
.vs/
